body {
    margin: 0;
    padding: 0;

}

header,
footer,
.container {
    border: 1px solid black;
    width: 1024px;
    margin: 0 auto;
    padding: 0 37px;
}

header {
    background: powderblue;
}

.logo {
    min-height: 220px;

}